.app {
  display: flex;
  flex-direction: column;
}

.header {
  height: 100px;
}

.main {
  flex: 1;
  justify-content: center;
  display: flex;
}

.main .container {
  width: 1000px;
  display: flex;
}
