.actions {
    margin-top: 20px;
}

.actions a + button {
    margin-left: 20px;
}

.actions button, .actions a {
    background: none;
    font-size: 15px;
    color: black;
    text-decoration: none;
    border: none;
    cursor: pointer;
}