header {
    display: flex;
    justify-content: center;
}

header .container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

header .container .title {

}

header .container .user {
    display: flex;
    align-items: center;
}

header .container .user a {

}

header .container .user a + a {
    margin-left: 20px;
}