.input-holder {
    display: flex;
    margin: 10px 0;
}

.input-holder .input-title {
    flex: 0.5;
    margin: auto;
    align-content: center;
}

.input-holder input {
    flex: 1;
    margin-left: 20px;
    line-height: 20px;
    font-size: 18px;

}